<h1> Upcoming Launches </h1>

<%= @search.launches.each do |launch| %>
  <ul class="launch"> 
    <li class="name">Launch: <%= launch.name %></li>
    <li class="date">Launch date: <%= launch.date %></li>
    <li class="rocket_name">Rocket name: <%= launch.rocket_name %></li>
  </ul>
  <br>
<% end %>